* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0c0f11;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden; 
    margin-top: 100px;
}

.nav-container ul {
    list-style-type: none;
    display: flex;
    gap: 10rem;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: 11vh;
    transition: transform 0.3s ease;
}

.nav-container ul li a {
    font-size: 1.6rem;
    color: #F2F2F2;
    text-decoration: none;
    padding: 10px;
    font-weight: 300;
    position: relative;
}

.nav-container a:after {
    content: "";
    position: absolute;
    background-color: rgb(52, 111, 240);
    height: 3px;
    width: 0;
    left: 0;
    bottom: 5px;
    transition: 0.3s
}

.nav-container a:hover:after {
    width: 100%;
}

.nav-container img {
    width: 5%;
    margin: 0;
    padding: 0;
    box-shadow: 50px;
}

.nav-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #11161a;
}

.nav-container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.nav-container nav {
    display: flex;
    width: 100%;
    align-items: center;
}

.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 1001;
}


/* Styling för formulär*/
.contact{
    padding: 10rem;
    color: white;
}
#btn-send-form {
    background-color: #30336B;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btn-send-form:hover{
    background-color:#535C88 ;
}

#btn-send-form:disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
}

.error {
    border: 2px solid red; 
    color: red; 
}
/*styling för formulär*/


@media (max-width: 768px) {
    .nav-container ul {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -150%;
        height: 100vh;
        width: 100%;
        background-color: #11161a;
        margin-right: 0%;
        transition: transform 0.3s ease, right 0.3s ease;
    }

    .hamburger {
        display: block;
        margin-left: auto;
    }

    .nav-container ul.active {
        right: 0;
    }

    .nav-container ul li {
        padding: 2rem;
        text-align: center;
    }

    .nav-container ul li a {
        font-size: 2rem;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');