* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0c0f11;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden; 
}

.nav-container ul {
    list-style-type: none;
    display: flex;
    gap: 10rem;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: 11vh;
    transition: transform 0.3s ease;
}

.nav-container ul li a {
    font-size: 1.6rem;
    color: #F2F2F2;
    text-decoration: none;
    padding: 10px;
    font-weight: 300;
    position: relative;
}

.nav-container a:hover {
    background-color: rgba(0, 255, 255, 0.055);
    border-radius: 20%;
}  

.nav-container img {
    width: 5%;
    margin: 0;
    padding: 0;
    box-shadow: 50px;
}

.nav-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #11161a;
}

.nav-container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.nav-container nav {
    display: flex;
    width: 100%;
    align-items: center;
}

.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 1001;
}


/* Styling för formulär*/
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(255, 255, 255); 
    margin: 2rem 0;
    color: white;
}

#kontaktTitel{
    font-size: 4rem; 
    text-decoration: underline;
}

.contact form {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1rem;
    max-width: 400px; 
    width: 100%;
}

.contact label {
    font-weight: bold;
    margin-bottom: 0.3rem;
}

input, textarea {
    padding: 0.75rem;
    border: 1px solid #ccc;
    background-color: #282828 ;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%; 
}


.contact textarea {
    height: 150px;
    resize: none; 
}


#btn-send-form {
    padding: 1rem 2rem;
    background-color: #30336B;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btn-send-form:hover{
    background-color:#535C88 ;
}

#btn-send-form:disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
}

.error {
    border: 2px solid red; 
    color: red; 
}
/*styling för formulär*/


/* Styling för Anställda sidan */

.grid2{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    color: white;
}

#titel-anställda{
    text-align: center;
    color: white;
    text-decoration: underline;
    font-size: 4rem;
}

.grid2 ul{
    list-style-type: none;
    font-size: 1.3rem;
}
.grid2 li{
    margin-bottom: 1rem;
}

#anställd1, #anställd2, #anställd3, #anställd4{
    box-shadow: 2px 2px 2px 2px black;
}




/* Styling tjänster */
.grid-container3{
    display: grid;
    color: white;
    text-align: center;
    margin:0 1rem;
}
#tjänster{
    font-size: 4rem;
    text-decoration: underline;
    padding-top: 5rem;
}

/* media queries */

@media (max-width: 950px) {
    .nav-container ul {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -150%;
        height: 100vh;
        width: 100%;
        background-color: #11161a;
        transition: transform 0.3s ease, right 0.3s ease;
        margin-right: auto;
        padding: 0.5rem 0;
        overflow-y: auto;
        gap: 5rem;
    }

    .nav-container {
        padding: 10px 20px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
    }

    .nav-container img {
        width: 8%;
        margin: 0;
        z-index: 1002;
    }

    .hamburger {
        display: block;
        margin-left: auto;
        z-index: 1001;
    }

    .nav-container ul.active {
        right: 0;
    }

    .nav-container ul li {
        padding: 0.3rem 0 0 0;
        text-align: center;
        width: 100%;
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .nav-container ul li a {
        font-size: 1rem;
    }

    body.menu-open {
        overflow: hidden;
    }

    .grid2{
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

@media (max-width:750px) {
    #tjänster{
        font-size: 3rem;
    }
    #titel-anställda{
        font-size: 3rem;
    }
    #kontaktTitel{
        font-size: 3rem;
    }
}

