* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0c0f11;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden; 
    
}

.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


/* nav */
.nav-container ul {
    list-style-type: none;
    display: flex;
    gap: 10rem;
    margin: 0;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    /* margin-right: 11vh; */
    transition: transform 0.3s ease;
}

.nav-container ul li {
    display: flex;
}

.nav-container ul li a {
    font-size: 1.6rem;
    color: #F2F2F2;
    text-decoration: none;
    padding: 10px;
    font-weight: 300;
    position: relative;
    transition: background-color 0.3s ease;
}

.nav-container a:hover {
    background-color:rgba(3, 62, 226, 0.158);
    border-radius: 5px;
}

.nav-container {
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #11161a;
}

.nav-container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.nav-container nav {
    display: flex;
    width: 100%;
    align-items: center;
}

.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 1001;
}


/* hem */
.hem {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hem .namn1 {
    font-size: 8rem;
    color: #F2F2F2;
    text-align: center;
    font-family: "Bitter", serif;
    font-weight: 500;
}


.tillbakaKnapp {
    background-color: rgb(94, 80, 80);
    border: none;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    font-size: 0.8rem;
}

/* om mig */
.om-mig {
    width: 100%;
    text-align: center;
    padding: 20px;
}

.om-mig-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem; 
    max-width: 1200px; 
    margin: 0 auto; 
    margin-top: 5vh;
    gap: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
}

.om-mig h1 {
    color: white;
    font-size: 4rem;
    margin-bottom: 20px;
}

.om-mig p {
    color: white;
    max-width: 800px;
    font-size: 1.6rem;
    text-align: center;
    margin: 0 auto;
}


/* skillbar */
.skill {
    list-style-type: none;
    margin: 0px auto;
    width: 100%;
    max-width: 500px;
    color: #F2F2F2;
    padding: 5rem;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.skill ul {
    list-style-type: none;
}

.skill h2 {
    text-align: center;
    margin-top: 0;
}

.skill h3 {
    margin: 5px;
}

.skill li {
    margin: 20px 0;
    padding: 10px;
}

.bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bar:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.24);
}

.bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(3, 62, 226) 0%, rgb(0, 140, 255)100%)
}

.html {
    width: 90%;
    animation: html 3s;
}

.java {
    width: 50%;
    animation: java 3s;
}

.csharp {
    width: 60%;
    animation: csharp 3s;
}

.sql {
    width: 70%;
    animation: sql 3s;
}


@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes java {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@keyframes csharp {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

@keyframes sql {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

/* slideshow */
.carousel-container {
    max-width: 500px;
    width: 100%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.bild {
    display: none;
    position: absolute;
}

.bild.active {
    display: block;
}


.bak, .fram {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
  }

  .fram {
    right: 0;
  }

  .bak {
    left: 0;
  }

  .bak:hover {
    left: -5px;
  }

  .fram:hover {
    right: -5px;
  }

  

/* projekt */
  .projekt {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    top: 0; 
  }

  .projekt h1 {
    color: white;
    font-size: 4rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .projekt-container {
    display: grid;
    width: 90%;
    gap: 50px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .projektvue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.15);
    transition: box-shadow 200ms, transform 200ms;
    background-color: rgb(2, 19, 56);
    border-radius: 20px;

    color: #F2F2F2;
    text-decoration: none;
    text-align: center;
    height: 100%;
    padding: 20px;
  }

  .projektvue:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
    transform: scale(1.01);
  }

  .projektvue img {
    margin-top: 10px;
  }

  .sök-bar {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #282828;
    color: white;
    border: 1px solid #ccc;
  }

  .sort-knappar {
    margin-bottom: 20px;
  }

  .sort-knappar button {
    padding: 10px 15px;
    background-color: #30336B;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .sort-knappar button:hover {
    background-color: #535C88;
  }

/* kontakt */
.kontakt {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    color: #f2f2f2;
    font-size: 1.5rem;
  }

  .kontakt h1 {
    color: white;
    font-size: 4rem;
    margin-bottom: 20px;
  }
  
  .kontakt form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 400px;
    width: 100%;
  }

  .contact label {
    font-weight: bold;
    margin-bottom: 0.3rem;
  }

  .contact input, textarea {
    padding: 0.75rem;
    border: 1px solid #ccc;
    background-color: #282828;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
  }

  .contact textarea {
    height: 150px;
    resize: none;
  }

  #btn-send-form {
    padding: 1rem 2rem;
    background-color: #30336B;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #btn-send-form:hover {
    background-color: #535C88;
  }

  #btn-send-form:disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
  }

  .error {
    border: 2px solid red;
    color: red;
  }




@media (max-width: 1133px) {
    .nav-container ul li a {
        font-size: 1.2rem;
    }
}



@media (max-width: 950px) {
    .nav-container ul {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -150%;
        height: 100vh;
        width: 100%;
        background-color: #11161a;
        transition: transform 0.3s ease, right 0.3s ease;
        margin-right: auto;
        padding: 0.5rem 0;
        overflow-y: auto;
        gap: 5rem;
    }

    .nav-container {
        padding: 10px 20px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
    }

    .nav-container img {
        width: 8%;
        margin: 0;
        z-index: 1002;
    }

    .hamburger {
        display: block;
        margin-left: auto;
        z-index: 1001;
    }

    .nav-container ul.active {
        right: 0;
    }

    .nav-container ul li {
        padding: 0.3rem 0 0 0;
        text-align: center;
        width: 100%;
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .nav-container ul li a {
        font-size: 1rem;
    }

    .menu-open {
        overflow: hidden;
    }

    .hem .namn1{
        font-size: 5rem;
    }

    .skill {
        padding: 1rem;
        max-width: 100%;
        margin: 20px;
    }

    .skill li {
        margin: 10px 0;
        padding: 5px;
    }

    .skill h3 {
        font-size: 1.2rem;
    }

    .bar {
        height: 15px;
    }

    .om-mig {
        margin-bottom: 20rem;
    }

    .om-mig p {
        font-size: 1rem;
        margin: 40px;
    }

    .carousel-container {
        margin: auto 20px;
    }

    .projekt {
        margin-top: 1rem;
    }

    .kontakt {
        margin-top: 15rem;
    }
}